{% extends "layout.html.twig" %}

{% block language %}en{% endblock %}
{% block active_en 'active' %}

{% block title 'Num3.ch – CoWorking Space Lausanne' %}
{% block meta_description '' %}
{% block meta_keyword '' %}

{% block intro %}
Numéro 3 is a coworking space located on <a href="#plans">Rue de l'Ecole-du-Commerce 3</a>, in a lively and multicultural area of Lausanne.
{% endblock %}

{% block offre_menu 'Offers' %}
{% block tarif_menu 'Pricing' %}
{% block contact_menu 'Contact' %}


{% block highlight_text %}
<p>Enjoy your stay at Numéro 3.</p>
<p>Specially conceived for people always "on-the-move", we try to make the place as comfy as possible for all the visitors.</p>
<p>Architects, designers, scientists or accountants, whatever you do, you are all welcome.</p>
<p>At Numéro 3, we try to give a special place to NGO's and entrepreneurs in the social and sustainable business. We hope Numéro 3 to serve as an incubator for new ideas and projects.</p>
{% endblock %}


{% block offre_title %}Offers{% endblock %}
{% block offre_intro %}We provide you: {% endblock %}
{% block offre_checklist %}
<ul class="checklist icons-ul">
  <li><i class="fa fa-check-square-o"></i> a large and bright open space</li>
  <li><i class="fa fa-check-square-o"></i> closed and furnished offices</li>
  <li><i class="fa fa-check-square-o"></i> conference room </li>
  <li><i class="fa fa-check-square-o"></i> multifunction printer</li>
  <li><i class="fa fa-check-square-o"></i> wifi access</li>
  <li><i class="fa fa-check-square-o"></i> private lockers</li>
  <li><i class="fa fa-check-square-o"></i> secured data storage</li>
</ul>
{% endblock %}

{% block offre_checklist_suite %}
<h3>but also …</h3>
<ul class="checklist icons-ul">
  <li><i class="fa fa-gamepad"></i> break "space" with a library</li>
  <li><i class="fa fa-coffee"></i> various beverages</li>
</ul>
{% endblock %}

{% block tarifs_titre %}Pricing{% endblock %}

{% block tarifs_prix %}
<h1>CHF 500.-</h1>
<p>month</p>
<hr>
<h1>CHF 100.-</h1>
<p>day</p>
<hr>
<h1>CHF 25.-</h1>
<p>hour</p>
<hr>
<p>
  <a href="https://docs.google.com/forms/d/1biwQ2F4Ioax4FkgCQNP91VsAWCnA5I4KPb8mW7uq6E0/viewform" class="btn btn-primary btn-large">Register</a>
</p>
{% endblock %}

{% block tarifs_suite %}
<h3>on demand services:</h3>
<ul class="checklist icons-ul">
  <li><i class="fa fa-check-square-o"></i>mail service</li>
  <li><i class="fa fa-check-square-o"></i>administrative support</li>
  <li><i class="fa fa-check-square-o"></i>accounting</li>
  <li><i class="fa fa-check-square-o"></i>IT solutions</li>
  <li><i class="fa fa-check-square-o"></i>networking tips</li>
</ul>
<p>Contact us for more information</p>

<ul class="checklist icons-ul">
   <li><i class="fa fa-check-square-o"></i>registration fee: CHF 50.-</li>
   <li><i class="fa fa-check-square-o"></i>discount for ONG's and students: 10%</li>
</ul>
{% endblock %}


{% block adresse_titre %}Address{% endblock %}
{% block adresse_contenu %}
<p>
    Rue Ecole-de-Commerce 3<br/>
    1004 Lausanne
</p>
<div id="show_map">
    <a href="#" id="show_map_bt" class="btn secondary">Display map</a>
    <a href="#" id="show_photo_bt" class="btn secondary" style="display:none;">Display satellite view</a>
</div>
{% endblock %}


{% block contact_titre %}Contact{% endblock %}
{% block contact_contenu %}
<h2>
    Nathalie Caracas
</h2>
<h4>

</h4>
<hr>
<p>
    <a href="mailto:info@num3.ch" class="btn btn-primary btn-medium">info@num3.ch</a>
    <a href="tel:0041787883535" class="btn btn-primary btn-medium">+41 78 788 35 35</a>
</p>
{% endblock %}